@page
@model IT_department.Web.Pages.Booker.Export.IndexModel
@{
}
<style>
    body {
        background-image: url(https://bogatyr.club/uploads/posts/2023-01/thumbs/1674735471_bogatyr-club-p-svetlii-fon-dlya-saita-fon-pinterest-5.jpg);
        background-size: cover;
        justify-content: center;
        background-repeat: no-repeat;
    }
</style>
<form method="post">
    <h2 class="text">«Экспорт данных»</h2>
    <div class="row mb-3">
        <div class="container-buttons">
            <button type="button" class=" btn btn-primary">Export «Принтеры»</button>
            <button type="button" class=" btn btn-primary">Export «Картриджи»</button>
            <button type="button" class=" btn btn-primary">Export «Техника»</button>
            <button type="button" class=" btn btn-primary">Export «Обслуживающие компании»</button>
        </div>
    </div>
    <h2 class="text">«Заявки на ремонт»</h2>
    <div class="row mb-3">
        <div class="container-buttons">
            <button type="button" class=" btn btn-primary">Заявка-принтеры</button>
            <button type="button" class=" btn btn-primary">Заявка-картриджи</button>
            <button type="button" class=" btn btn-primary">Заявка-техника</button>
        </div>
    </div>
    <h2 class="text">«Заявки на заправку»</h2>
    <div class="row mb-3">
        <div class="container-buttons">
            <button type="button" class=" btn btn-primary">Заявка-картриджи</button>
        </div>
    </div>
</form>